* {
    margin: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 3300px;
}
.container {
    width: 1512px;
    margin-left: auto;
    margin-right: auto;
}
/* Header*/
.frame-top {
    width: 100%;
    height: 588px;
    background-image: url(./media/headerbg.png);
    display: flex;
    flex-direction: column;
    text-align: center;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo-name {
    width: 122px;
    height: 32px;
    font-family: "ZCOOL KuaiLe";
    font-size: 32px;
    color: #FFFFFF;
}
.nav-bar {
    width: 583px;
    height: 30px;
    border-radius: 20px;
    background-color: #191818;
    color: #FFFFFF;
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-items {
    font-family: "ZCOOL KuaiLe";
    font-size: 20px;
}
.wallet {
    font-family: "ZCOOL KuaiLe";
    font-size: 12px;
    font-weight: 600;
    width: 127px;
    height: 38px;
    border-radius: 14.44px;
    color: #FFFFFF;
    background: linear-gradient(93.73deg, #ED0137 20.19%, #F05733 88.3%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-large {
    margin-top: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-large-text {
    font-family: "Shojumaru";
    width: 1262px;
    height: 108px;
    font-size: 45px;
    color: #FFFFFF;
}

/* Footer */
.frame-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 428px;
    background: linear-gradient(180deg, #030405 0%, #120101 100%);
}
.sitemap {
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 700;
    width: 114px;
    height: 26px;
    background: linear-gradient(92.23deg, #FF002A 5.2%, #720005 90.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0 0 5px 0;
    margin: 20px 0;
}

.foot-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 618px;
    height: 20px;
}
.foot-nav-items {
    font-size: 12.82px;
    font-family: "Poppins";
    color: #FFFFFF;
}

/* Main */
.frame-main {
    height: 2284px;
}

/* --Introduction-- */
.introduction {
    height: 509px;
    background-color: #191818;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.intro {
    display: flex;
    flex-direction: column;

}
.intro-head {
    font-family: "Shojumaru";
    color: #ED0137;
    font-size: 44px;
    width: 389px;
    height: 52px;
    margin-bottom: 10px;
}
.intro-text {
    font-family: "Shojumaru";
    color: #FFFFFF;
    width: 350px;
    height: 207px;
}
.read-more {
    font-family: "Shojumaru";
    color: #bbb0b0;
}
.documents {
    width: 120px;
    height: 30px;
    border-radius: 21.92px;
    padding: 17.03px 21.29px;
    background: linear-gradient(93.73deg, #D51B46 10.19%, #EE6910 98.19%);
}
.documents span {
    width: 109px;
    height: 20px;
    font-size: 20.03px;
    font-family: "ZCOOL KuaiLe";
}


/* --Roadmap-- */
.roadmap {
    height: 716px;
    background-image: url(./media/roadmapbgc.png);
    opacity: 0.9;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.roadmap-text {
    width: 282px;
    height: 52px;
    font-family: "Shojumaru";
    font-size: 44px;
    color:#ED0137;
}
.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1159.1px;
    height: 349px;
}
.card-one img {
    border-radius: 13.17px;
    background: linear-gradient(93.73deg, #000000 0.19%, #2b0000 98.19%);
}
/* --Faq-- */
.faq {
    height: 1059px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #191818;
}

.faq-left {
    width: 503px;
    height: 503px;
}

.faq-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.faq-head {
    width: 119px;
    height: 52px;
    font-family: "Shojumaru";
    font-size: 44px;
    color:#ED0137;
    margin-bottom: 40px;
}
.faq-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.faq-box-one {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 640px;
    height: 77px;
    border-radius: 20px;
    background: #0F0F0F;
    border: 1px solid #ED0137;
    font-family: "Shojumaru";
}
.ques,.srn {
    font-family: "Shojumaru";
    color: #FFFFFF;
}
.srn {
    margin-left: 20px;
    margin-right: 60px;
}